.formvalidate{
    display: flex;
    justify-content: center;
}
.formvalidate .formcenter{
width: 30%;
--tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
height: 350px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
p{
    font-size: 13px;
    color: red;
}